*{
    margin: 0;
    padding: 0;
}
.wrapper{
    display: flex;
    align-content: center;
    align-items: center;
    min-height: 100vh;
    text-align: center;
}
h1{
    font-size: 60px;
    margin: 0 auto;
}